<div class='row'>
  <% unless current_user == user %>
    <% if current_user.following?(user) %>
      <%= link_to 'Unfollow', user_relationships_path(user.id), class: 'btn btn-info', method: :delete %>
    <% else %>
      <%= link_to 'Follow', user_relationships_path(user.id), class: 'btn btn-success', method: :post %>
    <% end %>
  <% else %>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <% end %>
</div>