
<div class="text-center py-5">
  <%= link_to "トップページへ戻る", root_path %>
  <h1 class="py-3">実装に苦労した点<br></h1>
  <p>天気のAPIを実装したところです</p>
  <p>この記述です<strong>ENV['OPEN_WEATHER_MAP_API']</strong></p>
  <p>jsを書いているんですがAPIキーはRubyで管理しているため</p>
  <p>jsファイルに書くとAPIキーを参照にできなく</p>
  <p>erbファイルにscriptタグを使用することでjsとRubyを使用するように工夫しました</p>
  <p>Gemで解決できそうだったんですがセキュリティー性を考慮したため採用せず実装しました</p>
  
<img width="648" alt="API" src="https://user-images.githubusercontent.com/66851090/110434690-7ac4e900-80f5-11eb-9048-9aa25e4596b9.png">

</div>


