<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'about.jpg', :size => '500x350',class:"d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'top.jpg', :size => '500x350',class:"d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'main.jpg', :size => '500x350',class:"d-block w-100"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<div class="m-5">
  <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on top
  </button>

  <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on right
  </button>

  <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on bottom
  </button>

  <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on left
  </button>
</div>






















<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'about.jpg', :size => '500x350'%>

      <p>
        作った背景<br>
        <br>
        ショッピングに行った際に<br>
        可愛いトップスを見つけました。<br>
        すごく気に入り、買って帰りました。<br>
        <br>
        自宅に帰って試着してみると<br>
        合わせる服がありませんでした。<br>
        すぐには着れないため<br>
        また今度この服に合う<br>
        ボトムスを買おうと思いました。<br>
        <br>
        そんな二度手間をしなくて済むのがこのアプリです。<br>
        アプリにクローゼットの中にある<br>
        服を確認できるため<br>
        必要なものを必要な分だけ<br>
        買うことができます。<br>
      </p>
    </div>
  </div>
</div>
