

<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'top.jpg', :size => '500x350'%>
      <h1>MyClosetとは</h1>
      <section>
        <h2>どんなアプリか？</h2>
        <p>クローゼットの中をスマホやパソコンで確認することができるアプリです。</p>
        <p>みんなのおすすめの服やお気にりの服を紹介しあうことができます。</p>
      </section>

      <section>
        <h2>できること</h2>
        <p>自分の服を投稿し、コーディネートとして保存ができる</p>
        <p>みんなのお気に入りの服やおすすめの服が見れる</p>
        <p>おすすめの服の情報交換ができたり、フォローすることで気になる情報収集もしやすい</p>
        <p>都道府県を登録すると今日の天気を確認できる</p>
      </section>

      <section>
        <h2>利用するメリット</h2>
        <p>家のクローゼットの中で着ていない服がすぐにわかる</p>
        <p>持っている服が確認できるので同じ色の服や似ている服を買わなくて済む</p>
        <p>コーディネートを登録すると服選びに迷う時間がなくなる</p>
        <p>いい服を探し行かなくてもこのアプリを使うことで出会うことができる</p>
        <p>ショッピングで欲しい服が決まっていると買い物もスムーズに行える</p>
        <p>みんなにいいねやコメントをもらえて共感してもらえる</p>
      </section>

      <section>
        <h2>なぜ作ったのか</h2>
        <p>
          クローゼットの中って毎日整理したりしないので手前にあるものしか着なくなり、<br >
          着ない服が増えていった経験があったので<br >
          クローゼットの中がスマホで確認できたらいいなと思い作成しました。
        </p>
        <p>
          クローゼットの中が可視化できたらコーディネートのバリエーションも増えますし、<br >
          着ない服がなくなると考えました。
        </p>
        <p>
          私は、服は買ったことあるところでしか<br >
          買わないのでおすすめのお店とか知りたいため、SNSの機能の追加つけました。
        </p>
      </section>
    </div>
  </div>
</div>
