

<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'top.jpg', :size => '500x350'%>
      <p>
        作った背景<br>
        <br>
        ショッピングに行った際に<br>
        可愛いトップスを見つけました。<br>
        すごく気に入り、買って帰りました。<br>
        <br>
        自宅に帰って試着してみると<br>
        合わせる服がありませんでした。<br>
        すぐには着れないため<br>
        また今度この服に合う<br>
        ボトムスを買おうと思いました。<br>
        <br>
        そんな二度手間をしなくて済むのがこのアプリです。<br>
        アプリにクローゼットの中にある<br>
        服を確認できるため<br>
        必要なものを必要な分だけ<br>
        買うことができます。<br>
      </p>
    </div>
  </div>
</div>
