<% if @model == 'user' %>
  <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'posts' %>
  <h3>【Itemモデルの検索結果】検索ワード：<%= @content %></h3>
    <%= render 'item/index', items: @records %>
<% end %>