<% if @model == 'user' %>
  <h3 class="text-center">ユーザー 検索ワード：<%= @content %></h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'posts' %>
  <h3 class="text-center">アイテム　検索ワード：<%= @content %></h3>
    <%= render 'items/index', items: @records %>
<% end %>